.row {
    margin: 10px;
    background:#fff;
    border-radius: 10px;
    padding: 10px;
    color:#ee2828;
  }

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  border: 1px solid #ee2828;
  font-size: 2rem;
  background-color: #ee2828;
}

li {
  float: left;
}   

li a {
  color: #ffff99;
  text-align: center;
  padding: 14px 16px;   
}

li a:hover:not(.active) {
  background-color: #ee2828;
  color:#ffff99;
}

li a.active {
  color: #942222;
}

.header img {
  width: 500px;
  height: 400px;
  background: #ffffff;;
  padding-left: 20px;
}

.monospace {
  font-family: "Lucida Console", Courier, monospace;
}

div {
  overflow: hidden;
}